/*
Cart Area Style
======================================================*/
.cart-area {
	.cart-controller {
		background-color: var(--white-color);
		border: 1px solid #ebebeb;
		border-bottom: none;
		margin-bottom: 35px;
	}
	.trash {
		text-align: center !important;
		.remove {
			color: #ed1d24;
			font-size: 20px;
			&:hover {
				color: #ed1d24;
			}
		}
	}
	.product-thumbnail {
		width: 130px;
	}
	.cart-table {
		text-align: center;
		table {
			margin-bottom: 0;
			thead {
				tr {
					border-style: none;
					th {
						border: none;
						color: var(--heading-color);
						font-size: 16px;
						font-weight: 700;
						padding: 20px 30px;
					}
				}
			}
			tbody {
				tr {
					td {
						vertical-align: middle;
						border: none;
						border-bottom: 1px solid #dedede;
						white-space: nowrap;
						padding: 15px 30px;
						a {
							color: var(--heading-color);
							font-weight: 700;
							&:hover {
								color: var(--main-color);
							}
						}
						&.product-quantity {
							width: 145px;
							padding: 0;
							.input-counter {
								position: relative;
								input {
									height: 45px;
									color: var(--heading-color);
									outline: 0;
									display: block;
									border: none;
									background-color: #f8f8f8;
									text-align: center;
									width: 100%;
									font-size: 15px;
									font-weight: 700;
									border-top: 1px solid #dedede;
									border-bottom: 1px solid #dedede;
									&::placeholder {
										color: var(--heading-color);
									}
								}
								.minus-btn {
									position: absolute;
									top: 0;
									left: 0;
									background-color: transparent;
									cursor: pointer;
									color: var(--heading-color);
									width: 40px;
									height: 100%;
									line-height: 48px;
									transition: var(--transition);
									border: 1px solid #dedede;
									i {
										font-weight: 700;
									}
									&:hover {
										color: var(--white-color);
										background-color: var(--main-color);
									}
								}
								.plus-btn {
									position: absolute;
									top: 0;
									right: 0;
									background-color: transparent;
									cursor: pointer;
									color: var(--heading-color);
									width: 40px;
									height: 100%;
									line-height: 48px;
									transition: var(--transition);
									border: 1px solid #dedede;
									i {
										font-weight: 700;
									}
									&:hover {
										color: var(--white-color);
										background-color: var(--main-color);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.coupon-cart {
		padding-top: 5px;
		.form-group {
			position: relative;
			.form-control {
				border: 1px solid #dedede;
				&:focus {
					border-color: var(--main-color);
				}
			}
			.default-btn {
				position: absolute;
				top: 0;
				right: 0;
				padding: 15px 40px;
				height: 55px;
				line-height: 24px;
				&::before {
					display: none;
				}
				&::after {
					display: none;
				}
			}
		}
		.default-btn {
			&.update-cart {
				float: right;
				height: 50px;
			}
		}
	}
	.cart-totals {
		padding: 30px;
        background-color: #dedede;
		border: 1px solid #ebebeb;
		max-width: 400px;
		margin: auto;
		h3 {
			position: relative;
			padding-bottom: 15px;
			font-size: 24px;
			position: relative;
		}
		ul {
			padding: 0;
			margin: 0 0 25px;
			list-style-type: none;
			li {
				color: var(--body-color);
				position: relative;
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #c1c1c1;
				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
					margin-bottom: 0;
				}
				span {
					float: right;
					color: var(--heading-color);
					font-weight: normal;
				}
                b {
                    color: var(--heading-color);
                }
			}
		}
		.default-btn {
			display: block;
		}
	}
    .table>thead {
        background: #dedede;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) { 
	.cart-area {
        overflow: hidden;
        .cart-table {
            table {
                thead {
                    tr {
                        th {
                            font-size: 16px;
                        }
                    }
                }
            }
            table tbody tr td a {
                font-size: 14px;
            }
            text-align: center;
            table {
                thead {
                    tr {
                        th {
                            white-space: nowrap;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
							white-space: nowrap;
							padding: 15px;
                        }
                    }
                }
            }
        }
        .coupon-cart {
            .form-group .default-btn {
                position: initial;
                top: 0;
                right: 0;
                margin-top: 25px;
            }
            .default-btn.update-cart {
                margin-top: 20px;
            }
        }
        .cart-totals {
            padding: 20px;
			margin-right: auto;
            h3 {
                font-size: 20px;
            }
        }
        .default-btn {
			display: block;
            &.update-cart {
                width: 100%;
                height: auto !important;
            }        
        }
		.cart-totals {
			margin-top: 30px;
		}
    }
	
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

	.cart-area .cart-totals {
		margin-top: 30px;
	}

}