/*
Default Style
============================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

:root { 
	--body-family: 'Open Sans', sans-serif;
	--heading-font-family: 'Work Sans', sans-serif;

	--body-color: #6b6b6b;
	--main-color: #92210f;
	--heading-color: #252525;
	--optional-color: #172f41;
	--white-color: #ffffff;
	--black-color: #000000;
	--font-size: 15px;
	--transition: all ease .5s;
	--border-radius: 4px;
	--box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

body {
    font-size: var(--font-size);;
    font-family: var(--body-family);
	color: var(--body-color);
}
a {
    transition: var(--transition);
	text-decoration: none;
	color: var(--body-color);
	&:hover {
        text-decoration: none !important;
        color: var(--main-color);
	}
	&:focus {
		text-decoration: none;
	}
}
button {
    outline: 0 !important; 
	box-shadow: none;
	border: none;
	padding: 0;
    &:focus {
        box-shadow: none;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
	font-weight: bold;
	font-family: var(--heading-font-family);
}
h3 {
	font-weight: 600;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
p {
    font-size: var(--font-size);;
	margin-bottom: 15px;
	line-height: 1.8;
	&:last-child {
        margin-bottom: 0;
    }
} 
img {
    max-width: 100%;
    height: auto;
}
.form-control {
    height: 55px;
    color: var(--main-color);
	border: 1px solid #d7d7d7;
	background-color: transparent;
	border-radius: 0;
	font-size: 16px;
	padding: 10px 20px;
	width: 100%;
	position: relative;
	z-index: 1;
	&::placeholder {
		color: #676a6a;
	}
	&:focus {
		color: var(--black-color);
		background-color: transparent;
		box-shadow: unset;
		outline: 0;
		border: 1px solid var(--main-color);
	}
}
.form-control:hover, .form-control {
    &:focus {
        box-shadow: unset;
    }
}
textarea {   
    &.form-control {
        height: auto;
    }
}
.ptb-100 {
	padding: {
		top: 100px;
		bottom: 100px;
	}
}
.ptb-70 {
    padding: {
		top: 70px;
		bottom: 70px;
	}
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-70 {
    padding-top: 70px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-40 {
    padding-bottom: 40px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-minus-100 {
	margin-top: -100px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.ml-15 {
	margin-left: 10px;
}
.mr-15 {
	margin-right: 10px;
}

/*
Bg-color Style*/
.bg-color {
	background-color: #f9f5f1;
}
.bg-color-f8fafb {
	background-color: #f8fafb;
}
.bg-color-f8fafb {
	background-color: #f8fafb;
}

/*
Default Btn Area Style*/
.default-btn {
	font-size: 16px;
    color: var(--white-color);
    line-height: 1;
    transition: var(--transition);
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: inline-table;
	padding: 18px 30px;
	font-weight: 600;
	background-color: var(--main-color);
	i {
		position: relative;
		top: 2px;
		margin-left: 5px;
	}
	&::before, &::after  {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--heading-color);
		z-index: -1;
		transform: scaleX(0);
		transition: var(--transition);
	}
	&::after {
		transform: scaleY(0);
	}
	&:hover {
		color: var(--white-color);
		&::before {
			transform: scaleX(1);
		}
		&::after {
			transform: scaleY(1);
		}
	}
}

/*
Read More Btn Area Style*/
.read-more {
	font-size: 14px;
	color: var(--heading-color);
	font-weight: 600;
	span, i {
		position: relative;
		top: 3px;
	}
	&:hover {
		color: var(--main-color);
		letter-spacing: 1px;
	}
}

/*
Section Title Area Style*/
.section-title {
	max-width: 750px;
	margin: -8px auto 50px;
	text-align: center;
	position: relative;
	span {
		font-size: 16px;
		color: var(--main-color);
		display: block;
		margin-bottom: 5px;
		font-weight: 700;
	}
	h2 {
		font-size: 45px;
		margin-bottom: 15px; 
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		max-width: 600px;
		margin: auto;
	}
	&.white-title {
		span {
			color: var(--main-color);
		}
		h2 {
			color: var(--white-color);
		}
		p {
			color: var(--white-color);
		}
	}
}