/*
Header Area Style
======================================================*/
.top-header {
	background-color: var(--optional-color);
	&.top-header-bg {
		background-color: var(--white-color);
		.header-left-content {
			li {
				a {
					color: var(--heading-color);
					i {
						color: var(--heading-color);
					}
				}
			}
		}
		.header-right-content {
			.languages-switcher {
				i {
					color: var(--main-color);
				}
				select {
					color: var(--heading-color);
				}
			}
			.cart-icon {
				a {
					i {
						color: var(--heading-color);
					}
				}
			}
		}
	}
	padding: {
		top: 15px;
		bottom: 15px;
	}
	.header-left-content {
		line-height: 1;
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		li {
			display: inline-block;
			margin-right: 15px;
			a {
				color: var(--white-color);
				i {
					font-size: 18px;
					transition: var(--transition);
					color: var(--white-color);
					text-align: center;
					border-radius: 50%;
					line-height: 1;
					margin-right: 5px;
					position: relative;
					top: 3px;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.header-right-content {
		line-height: 1;
		float: right;
		position: relative;
		top: -2px;
		margin-right: 10px;
		.languages-switcher {
			position: relative;
			padding-left: 20px;
			display: inline-block;
			top: 1px;
			i {
				position: absolute;
				left: 0;
				top: 3px;
				color: var(--white-color);
				margin-right: 0;
			}
			select {
				padding: 0;
				background-color: transparent;
				border: none !important;
				cursor: pointer;
				color: var(--white-color);
				font-size: 15px;
				option {
					color: var(--heading-color);
				}
				&:focus {
					border: none;
					box-shadow: none;
					outline: none;
				}
			}
		}
		.my-account {
			margin-left: 30px;
			position: relative;
			top: 3px;
			display: inline-block;
			a {
				width: 25px;
				height: 25px;
				line-height: 25px;
				background-color: var(--main-color);
				border-radius: 50px;
				display: inline-block;
				text-align: center;
				position: relative;
				top: -1px;
				i {
					color: var(--white-color);
					position: relative;
					left: 0.1px;
					font-size: 15px;
				}
				&:hover {
					background-color: var(--main-color);
				}
			}
		}
		.cart-icon {
			display: inline-block;
			position: relative;
			top: 5px;
			margin-left: 30px;
			a {
				position: relative;
				i {
					color: var(--white-color);
					font-size: 18px;
				}
				span {
					position: absolute;
					top: -12px;
					right: -10px;
					display: inline-block;
					width: 17px;
					height: 17px;
					line-height: 17px;
					text-align: center;
					background-color: var(--main-color);
					border-radius: 50%;
					color: var(--white-color);
					font-size: 10px;
				}
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) { 
	.top-header {
		text-align: center;
		.header-right-content {
			float: initial;
			margin-top: 10px;
		}
	}
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width:576px) and (max-width:767px) { 
	.top-header {
		text-align: left;
		.header-right-content {
			float: right;
			margin-top: 10px;
		}
	}
}